.header-top{
    background-color: #000;
}
.header
{
	position: relative;
	width: 100%;
	z-index: 10;

	margin-bottom: 210px;

}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
  third_day
	height: 24px;

	background: #161212;;
	border-bottom: solid 1px rgba(0,0,0,0.05);
	z-index: 2;
}
.header.scrolled .top_bar
{
	display: none;
}
.top_bar_contact
{
	display: inline-block;
}
.top_bar_contact_item
{
    color: #FFFFFF;
	font-size: 14px;
	font-weight: 300;
	line-height: 56px;
	margin-right: 40px;
}
.top_bar_contact_item:not(:first-child)
{
	margin-right: 0px;
}
.top_bar_contact_item a
{
	font-size: 16px;
	font-weight: 300;
	line-height: 56px;
	color: #000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.top_bar_contact_item a:hover
{
	color: #8a8a8a;
}
.top_bar_contact_item:last-child
{
	margin-right: 0px;
}
.top_bar_icon
{
	display: inline-block;
	margin-right: 14px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.top_bar_menu
{
	display: inline-block;
}
.user_icon{
    color: #FFFFFF;

}

.user_icon a {
	font-size: 14px;
}
.top_bar_dropdown li
{
	padding-left: 13px;
	padding-right: 13px;
}
.standard_dropdown li
{
	display: inline-block;
	position: relative;
	height: 56px;
}
.standard_dropdown li li
{
	display: block;
	width: 100%;
}
.standard_dropdown li li a
{
	display: block;
	width: 100%;
	border-bottom: solid 1px #f2f2f2;
	font-size: 16px;
}
.standard_dropdown li:last-child a
{
	border-bottom: none;
}
.standard_dropdown li.hassubs > a i
{
	display: inline-block;
	margin-left: 5px;
}
.standard_dropdown li a
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	line-height: 56px;
	white-space: nowrap;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.standard_dropdown li a:hover
{
	color: #0e8ce4;
}
.standard_dropdown li a i
{
	display: none;
	-webkit-transform: translateY(-1px);
	-moz-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	-o-transform: translateY(-1px);
	transform: translateY(-1px);
	font-size: 12px;
}
.standard_dropdown li ul
{
	display: block;
	position: absolute;
	top: 120%;
	left: 0;
	width: auto;
	visibility: hidden;
	opacity: 0;
	background: #FFFFFF;
	box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}
.standard_dropdown li:hover > ul
{
	top: 100%;
	visibility: visible;
	opacity: 1;
}
.standard_dropdown ul ul
{
	left: 100%;
	top: 0 !important;
}
.top_bar_user
{
	display: inline-block;
	margin-left: 35px;
}
.user_icon
{
	display: inline-block;
	margin-right: 7px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	width: 15px;
}
.user_icon img
{
	width: 100%;
}
.top_bar_user div
{
	display: inline-block;
}
.top_bar_user div:nth-child(2)
{
	margin-right: 21px;
}
.top_bar_user div:nth-child(2)::after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -13px;
	width: 1px;
	height: 17px;
	background: rgba(0,0,0,0.1);
	content: '';
}
.top_bar_user a
{
	font-size: 16px;
	font-weight: 300;
	line-height: 56px;
	color: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.top_bar_user a:hover
{
	color: #8a8a8a;
}
.header__bottom--container{
    height: 155px;
}
.header__bottom{
    background: #e0dddd;
	height: 145px;

}
.header__search__input input{
    border-radius: 15px;
    border: none;
    position: relative;
    padding: 6px 30px;
    padding-right: 114px !important;
}
.search__input__icon{
    position: absolute;
    left: 333px;
    top: 5px;
    padding-left: 10px;
    border-left: 1px solid;
   
}
.header__search__info{
    padding-left: 27px !important;
    margin-bottom: 30px;
    opacity: 0.7;
}
.header__cart{
    padding-top: 50px;
}
.header__navigation{
    width: 100%;

    height: 30px;
    background-color: #3FB871;
}
ul .nav-item:first-child{

	background-color: #36A66D;
}

    height: 4 8px;
    background-color: #3FB871;
}

.nav-item a{
    color: #f2f2f2 !important;
    padding: 5px 20px !important;
    font-size: 14px !important ;
}
.header__navigation__icon{
    color: #f2f2f2;

}
.body__slide {
	 
}
#content{
	width: 100%;
	margin-top: 200px;
}
.card__container{
padding:  0 !important;
}
.card__container__img{

}
.card__container__body{
text-align: center;
}
.card__container__name{

}
.card__container__star{

}
.card__container__price{

}
.card__container__price{
justify-content: center;
}
.card__container__price--real{
text-decoration-line: line-through ;
}
.card__container--small{
padding: 0 !important
}
.highlight-body__header{
font-weight: 600;
font-size: 18px;
color: #3FB871;
border-spacing: 15px;
width: fit-content;
position: relative;
}
.highlight-body__header::after{
	content: '';
    position: absolute;
    top: -16px;
    left: 0px;
    right: -15px;
    bottom: -17px;
    border-bottom: #3FB871 4px solid;
}
.highlight-body__container{
	
}
.highligh-container__header{
	padding: 5px 0px;
    border-bottom: 2px solid #a1a1a1
}
@media (min-width: 1200px) {
    .container-sm{
        max-width: 970px;
    }
}
/* CSS for .footer */
.footer {
	background-color: #333;
	color: #666;
	font-family: 'YourSecondaryFont', sans-serif;
	font-weight: 500;
  }
  
  /* .footer__head */
  .footer__head {
	font-size: 1.4rem;
	padding: 3.5rem 0;
	border-bottom: 1px solid #666;
  }
  
  .footer__head h3 {
	line-height: 2.6rem;
  }
  
  @media (max-width: 767px) {
	.footer__head {
	  margin: 0 2rem;
	  text-align: center;
	}
  
	.footer__head h3 {
	  color: #3498db;
	}
  }
  
  @media (max-width: 479px) {
	.footer__head {
	  display: block;
	  text-align: start;
	}
  }
  
  /* .footer__social */
  .footer__social {
	grid-column: 1 / span 2;
  }
  
  .footer__social h3 {
	line-height: 2rem;
	font-size: 1.4rem;
	padding-bottom: 1rem;
  }
  
  /* .footer__icon */
  .footer__icon span {
	padding-right: 2rem;
  }
  
  /* .footer__email */
  .footer__email h3 {
	font-size: 1.4rem;
  }
  
  @media (max-width: 767px) {
	.footer__email {
	  grid-column: 3 / span 2;
	  padding: 2rem 0;
	}
  }
  
  @media (max-width: 479px) {
	.footer__email {
	  padding: 2rem 0;
	}
  }
  
  /* .footer__form */
  .footer__form {
	grid-column: 4 / span 3;
	position: relative;
  }
  
  .footer__form input {
	border: none;
	outline: none;
	background-color: #fff;
	width: 100%;
	padding: 1rem;
  }
  
  .footer__form span {
	color: #fff;
	display: block;
	background-color: #3498db;
	padding: 1rem;
	position: absolute;
	right: 0;
	bottom: 1.7rem;
  }
  
  @media (max-width: 767px) {
	.footer__form {
	  grid-row: 2;
	  grid-column: 2 / span 2;
	}
  
	.footer__form span {
	  bottom: 1rem;
	}
  }
  
  @media (max-width: 479px) {
	.footer__form span {
	  bottom: 0;
	}
  }
  
  /* .footer__body */
  .footer__body {
	padding: 4.1rem 0 5rem 0;
	border-bottom: 1px solid #666;
  }
  
  @media (max-width: 767px) {
	.footer__body {
	  margin: 0 4rem;
	}
  
	.footer__body p {
	  text-align: center;
	}
  
	.footer__body .img {
	  justify-content: center;
	  align-items: center;
	}
  }
  
  @media (max-width: 479px) {
	.footer__body {
	  display: block;
	  padding-top: 2rem;
	}
  }
  
  /* .footer__contact */
  .footer__contact {
	grid-column: 1 / span 2;
  }
  
  .footer__contact p {
	margin: 2rem 0;
	line-height: 2.3rem;
	font-size: 1.3rem;
  }
  
  .footer__contact p span {
	margin-right: 0.5rem;
	color: #3498db;
  }
  
  @media (max-width: 767px) {
	.footer__contact {
	  grid-column: 1 / -1;
	  text-align: center;
	}
  }
  
  /* .footer__logo */
  .footer__logo {
	width: 100%;
	object-fit: cover;
  }
  
  .footer__logo p {
	text-transform: uppercase;
	font-size: 1.8rem;
	line-height: 2.569rem;
	margin-top: -2rem;
  }
  
  @media (max-width: 767px) {
	.footer__logo .img {
	  justify-content: center;
	  align-items: center;
	}
  }
  
  /* .footer__info */
  .footer__info p {
	color: #3498db;
	line-height: 2rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	padding: 2rem 0;
  }
  
  .footer__info ul {
	padding-left: 1rem;
  }
  
  .footer__info li {
	font-size: 1.4rem;
	line-height: 3.7rem;
  }
  
  @media (max-width: 479px) {
	.footer__info p {
	  text-align: start;
	}
  }
  
  /* .footer__footer */
  .footer__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
  }
  
  @media (max-width: 767px) {
	.footer__footer {
	  padding: 0 5rem;
	}
  
	.footer__footer {
	  display: none;
	}
  }
  
  /* .footer__nav */
  .footer__nav {
	display: flex;
	padding-left: 0;
	list-style-type: none;
  }
  
  .footer__nav a {
	font-size: 1rem;
	text-decoration: none;
	line-height: 2rem;
	padding-right: 2rem;
	color: #ccc;
	font-weight: 300
  }
  
}

